doctype
html
  head
    link(rel="stylesheet" href="/style.css")
  body
    div#page
      div
        div#header
          a(href="/index.html")
            img(src="/images/logo.png" alt="Image")
          ul
            li  
              a(href="/index") Home
            li
              a(href="/menu") Menu
            li  
              a(href="/locations") Locations
            li
              a(href="/about") About
        
        div#body
          != yield

        div#footer
          div
            a(href='index.html')
              img(src='images/logo2.png', alt='Image')
            p.footnote
              | © Yay!Koffee 2011.
              br
              | All Rights Reserved.
          div.section
            ul
              li
                a(href='index.html') Home
              li
                a(href='menu.html') Menu
              li
                a(href='locations.html') Locations
              li
                a(href='blog.html') Blog
              li.current
                a(href='about.html') About Us
 
