//- div#figure
//-     img(src="images/headline-about.jpg" alt="image") 
//-     span Lorem ipsum dolor sit amet.

//- div
//-     a.about(href="about")
//-     div
//-         h3 We Have Coffee for Everyone
//-         p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, ad!

//-         h3 We Even Have Tea
//-         p Lorem, ipsum dolor sit amet consectetur adipisicing.

//-         h3 We Don't Have Beer
//-         p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, nulla!

#figure
  img(src='images/headline-about.jpg', alt='Image')
  span About US!
div
  a.about(href='about.html') About
  div
    h3 Our Dream
    p
      | We were founded with the dream of making a lasting impact on our community by donating proceeds from the sales of our small batch roasted coffees and scratch made breakfast items.

    h3 We Provide:
    p
      | Single origin light roast espressos, or Italian style blended sipping espresso. 
      br
      | Rotating single origin coffees for Pour Over's or AeroPress.
      br
      | Monin brand, all natural syrups.
      br
      | Fresh baked pastries and Gluten Free treats.
      br
      | Scratch made breakfast entrees brought to your table.
    h3 Be Part of Our Community
    p
      | If you're experiencing issues and concerns about this website template, join the discussion 
      a(href='http://www.freewebsitetemplates.com/forums/') on our forum
      |  and meet other people in the community who share the same interests with you.
    h3 Giving
    p
      | Proceeds donated to organizations helping women and children in crisis in Boise and Ethiopia.
     
     
    
