

#figure
  img(src='images/donuts.jpg', alt='Image')
  span#home
#featured
  span.whatshot
    a(href='menu.html') Find out more
  div
    a(href='menu.html')
      img(src='images/coffee1.jpg', alt='Image')
    a(href='menu.html')
      img(src='images/coffee2.jpg', alt='Image')
    a(href='menu.html')
      img(src='images/coffee3.jpg', alt='Image')
.section
  ul
    li
      a(href='blog.html')
        img(src='images/coffee-ingredients.jpg', alt='Image')
      h2
        a(href='blog.html') Coffee Beans
      p
         | We use specialty grade sourced, whole coffee beans that are rich, smooth, full-bodied. These exotic raw beans are from around the world and are blended into precisely dark roasted coffee.
      a.readmore(href='blog.html') Read More
    li
      a(href='blog.html')
        img(src='images/black-coffee.jpg', alt='Image')
      h2
        a(href='blog.html') Freshly Ground
      p
        | These flavor-packed little stimulants are sensitive and will only relinquish their best if handled properly. Freshly ground coffee beans are ripe for brewing.
      a.readmore(href='blog.html') Read More
    li
      a(href='blog.html')
        img(src='images/chocolate.jpg', alt='Image')
      h2
        a(href='blog.html') Made With Love
      p
        | We are a family that loves baking, good food, good times spent with family and friends, and exploring new places.
      a.readmore(href='blog.html') Read More
  div
    ul
      li
        h3
          a(href='blog.html') Lorem ipsum
        span 28 November 2011
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. blandit nunc. Donec in velit sed ante interdum condimentum pretium sit amet erat.
        a.readmore(href='blog.html') Read more
      li
        h3
          a(href='blog.html') Dolor sit amet
        span 25 November 2011
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        a.readmore(href='blog.html') Read more
