#figure
  img(src='images/headline-locations.jpg', alt='Image')
div
  a.locations(href='locations.html') Locations
  div
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
    dl
      dt Yay!KOFFEE
      dd Lorem ipsum dolor sit amet
      dd Consectetur adipiscing elit
      dd Nulla lobortis, arcu odio dapibus odio
      dd Mauris et arcu
