
#figure
  img(src='images/headline-menu.jpg', alt='Image')
  span Lorem ipsum dolor sit amet.
div
  a.whatshot(href='menu.html') What's Hot
  div
    ul
      li
        a(href='index.html')
          img(src='images/coffee1.jpg', alt='Image')
        div
          a(href='index.html') Cappuccino
          p
            | $1.59
      li
        a(href='index.html')
          img(src='images/coffee2.jpg', alt='Image')
        div
          a(href='index.html') Crema
          p
            | $5.99
      li
        a(href='index.html')
          img(src='images/coffee3.jpg', alt='Image')
        div
          a(href='index.html') French Cappuccino
          p
            | $5.99
      li
        a(href='index.html')
          img(src='images/coffee4.jpg', alt='Image')
        div
          a(href='index.html') Affogato
          p
            | $5.99
      li
        a(href='index.html')
          img(src='images/coffee5.jpg', alt='Image')
        div
          a(href='index.html') Latte
          p
            | $3.99
      li
        a(href='index.html')
          img(src='images/coffee6.jpg', alt='Image')
        div
          a(href='index.html') Irish Coffee
          p
            | $3.99
      li
        a(href='index.html')
          img(src='images/coffee3.jpg', alt='Image')
        div
          a(href='index.html') Ristretto
          p
            | $3.99
      li
        a(href='index.html')
          img(src='images/coffee2.jpg', alt='Image')
        div
          a(href='index.html') Galão
          p
            | $5.99
      li
        a(href='index.html')
          img(src='images/coffee1.jpg', alt='Image')
        div
          a(href='index.html') Espressino
          p
            | $4.99
